html {
  scroll-behavior: smooth;
  font-family: "Trirong", serif;
  color: goldenrod;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-padding-top: 100px;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  min-height: 100%;
  --bkg-color: #fff;
  --font-color: darkgoldenrod;
  background: var(--bkg-color) !important;
}

body.dark-theme {
  --bkg-color: #222222;
  --font-color: goldenrod;
}

body::-webkit-scrollbar {
  /* Chrome and Safari*/
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-family: "Trirong", serif;
}
::-webkit-input-placeholder {
  font-family: "Trirong", serif;
}
:-moz-placeholder {
  font-family: "Trirong", serif;
}
::-moz-placeholder {
  font-family: "Trirong", serif;
}
:-ms-input-placeholder {
  font-family: "Trirong", serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: grey;
}

p {
  color: var(--font-color);
  margin: 0;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-15deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

header {
  position: sticky;
  width: 100%;
  background: inherit;
  top: 0;
  padding-bottom: 1rem;
  z-index: 10;
}

.landing-page {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.title {
  font-size: xx-large;
  font-weight: 700;
  margin: 0;
  padding: 0 1rem;
  transition-duration: 0.5s;
  width: fit-content;
}

.title:hover {
  transform: scale(1.1);
}

.category {
  animation: transitionIn 0.8s;
  transition-duration: 0.5s;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category:hover .category-text {
  color: white;
  background-color: goldenrod;
}

.category-img {
  max-height: 75%;
  max-width: 40vh;
}

.category-text {
  font-size: large;
  font-weight: 600;
  width: min-content;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: 4px solid goldenrod;
}

.split {
  width: 80vw;
  margin: 0.5rem auto;
  border-bottom: 1px solid goldenrod;
}

.vertical {
  display: block;
  animation: transitionIn 0.75s;
  margin-bottom: 8rem;
}

.navbar {
  font-size: large;
  font-weight: 600;
  /* animation: transitionIn 0.5s; */
}

.navbar a {
  display: inline-block;
  transition-duration: 0.25s;
}

.navbar a:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

section {
  margin: 2rem 0;
}

.section-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: xx-large;
}

.section-split {
  width: 80vw;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid goldenrod;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
  padding: 1em 1em;
}

.footer {
  margin-top: 3em;
}

.footer a:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

.footer a:hover svg {
  transform: scale(1.1);
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.5s;
  cursor: pointer;
}

a:hover {
  transform: scale(1.04);
}

/* Photography */
.shop-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.shop-item {
  max-width: 320px;
  font-weight: bold;
}

.shop-item img {
  width: 100%;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

.tab {
  overflow: hidden;
  width: 100%;
}

.tab-button.active {
  filter: brightness(110%);
  text-decoration: underline;
}

.tab-content {
  display: none;
  animation: transitionIn 0.8s;
}

.gallery-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.gallery-content img {
  display: block;
  max-height: 320px;
  max-width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  justify-self: center;
}

.disable-pointer-events {
  pointer-events: none;
}

/* Marketing */
.statistic {
  width: 100%;
  max-width: 320px;
  color: var(--font-color);
}

.statistic p {
  font-size: x-large;
}

.statistic ul {
  text-align: start;
}

.sponsor-content {
  display: flex;
  flex-wrap: wrap;
}

.sponsor-content a {
  flex: 1;
  margin: 1em 0;
}

.sponsor-content a img {
  max-width: 200px;
}


/* About */
.contact-form {
  display: block;
  max-width: 320px;
  /* flex-direction: column; */
}

.contact-form input {
  border: none;
  background: none;
  border-bottom: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 1em;
  color: var(--font-color);
}

.contact-form input:invalid {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid red;
  background-color: rgba(255, 0, 0, 0.04);
}

.contact-form textarea {
  border: none;
  background: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  padding: 1em;
  color: var(--font-color);
}

.contact-form button {
  color: currentColor;
  font-size: large;
  background: none;
  font-weight: 800;
  border: none;
  margin-top: 1em;
  border-left: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transition-duration: 0.25s;
}

.contact-form button:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

@media only screen and (min-width: 720px) {
  p {
    max-width: 720px;
  }

  .landing-page {
    display: grid;
    height: 75vh;
    grid-template-columns: 1fr 1rem 1fr;
    justify-items: center;
    align-items: center;
  }

  header {
    grid-area: title;
    margin: 0;
  }

  .category {
    /* margin: 0 3em; */
    width: min-content;
    height: 100%;
  }

  .category-img {
    max-height: 100%;
    min-width: 100%;
    /* max-width: 36rem; */
    object-fit: contain;
  }

  .footer {
    margin: 0;
    padding: 0;
  }

  .split {
    width: 0;
    min-height: 70%;
    max-height: 100%;
    /* align-self: center; */
    /* margin: auto; */
    border-left: 1px solid goldenrod;
    /* border-bottom: 0; */
  }

  .gallery-content {
    grid-template-columns: repeat(4, 1fr);
  }
/* 
  .gallery-wallpaper {
    grid-template-columns: repeat(5, 1fr);
  } */
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: goldenrod
    --bkg-color: #222222;
  }
  body.light-theme {
    --text-color: darkgoldenrod;
    --bkg-color: #ffffff;
  }
}