body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.title{
    color: pink;
    position: fixed;
    width: 100%;
    padding: 1rem;
}

.container{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    filter: grayscale(0.7);
}

.container:hover{
    font-weight: bold;
    filter: grayscale(0);
}

.right{
    background-color: burlywood;
    background-image: url('../img/right_photo.jpg');
    background-size: cover;
    /* box-shadow: -4px 0 4px 2px violet; */
}

.left{
    background-color: plum;
    background-image: url('../img/left_photo.jpg');
    background-size: cover;
}

h1{
    align-self: center;
    color: white;
    font-weight: inherit;
}

@media only screen and (min-width: 720px){
    .container{
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
}