.idea/jsLibraryMappings.xml
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_03-09-2020_00_44__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_03-09-2020_01_29__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_03-09-2020_00_44_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_03-09-2020_01_29_[Default_Changelist]/shelved.patch
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/19.xcv.iml
.idea/shelf/Uncommitted_changes_before_Update_at_03-09-2020_00_44_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_03-09-2020_01_29_[Default_Changelist]/shelved.patch
